* {
  box-sizing: border-box;
  margin: 0;
}


body {
  --text: #ebe6de;
  --background: #160B06;
  --light-off: #261B18;
  --light-on: #EFAA32;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: fit-content;
  min-height: 100vh;

  font-family: sans-serif;
  font-size: 1.125rem;

  color: var(--text);
  background: var(--background);
  margin: 0;
  padding: 1rem;
}

.departure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: fit-content;
}

label {
  font-weight: bold;
  cursor: pointer;
}
label input {
  display: none;
}

button,
label {
  font: inherit;
  font-weight: bold;
  color: inherit;
  background: var(--light-off);
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0.125rem;

  cursor: pointer;
}
button:hover,
label:hover {
  opacity: 0.85;
}
button:active,
label:has(input:checked) {
  opacity: 1;
  color: var(--background);
  background: var(--light-on);
}

label {
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  
  min-width: 1.25rem;
  display: inline-flex;
}


.header-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  align-self: end;

  margin-block-end: 1rem;
}


.departure-board {
  --_departure-point-width: 10px;
  --_departure-point-gap: 2px;
  --_departure-row-height: 9;

  display: flex;
  flex-direction: column;
  gap: var(--_departure-point-width);

  user-select: none;
}
.departure-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: fit-content;
  height: calc((var(--_departure-point-width) + var(--_departure-point-gap)) * var(--_departure-row-height));
}
.departure-point {
  --_opacity: 0.5;

  position: relative;
  width: calc(var(--_departure-point-width) + var(--_departure-point-gap));
  aspect-ratio: 1;

  cursor: pointer;
}

.departure-point.on::before,
.departure-point::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  width: var(--_departure-point-width);
  height: var(--_departure-point-width);
  border-radius: 50%;
}
.departure-point::after {
  z-index: 0;
  background: var(--light-off);
}

.departure-point.on::before {
  z-index: 1;

  box-shadow:
    0 0 calc(var(--_departure-point-width) * 0.3) calc(var(--_departure-point-width) * 0.1) #f5b545aa,
    0 0 var(--_departure-point-width) calc(var(--_departure-point-width) * 0.5) #cf620277;
    /* 0 0 calc(var(--_departure-point-width) * 1.2) calc(var(--_departure-point-width) * 0.6) #6c280655; */
  opacity: var(--_opacity);
}
.departure-point.on::after {
  z-index: 2;

  background: var(--light-on);
  opacity: var(--_opacity);
}
